@CHARSET "UTF-8";

body.camaxtli { background: #3b4043 }

/* ****************************************************************************
 * Anchor links
 * ************************************************************************* */
a:link, a:visited {
    color: #36c;
    text-decoration: none;
}

a:hover {
    color: #f00;
    text-decoration: underline;
}

a:focus {
    outline: #ccc 1px dotted;
}


/* ****************************************************************************
 * Breaks and alignments
 * ************************************************************************* */
hr {
  border: none;
  height: 0px;
  line-height: 0px;
  margin: 0px;
  padding: 0px;
}

.break {
  clear: both;
  display: block; 
}

.align-left { text-align: left; }

.align-right { text-align: right; }

.even { background-color: #fff; }

img.align-left {
  float: left;
  margin: 0 1em 1em 0;
  padding: 0;
}

img.align-right {
  float: right;
  margin: 0 0 1em 1em;
}

/* ****************************************************************************
 * Form styles
 * ************************************************************************* */
fieldset {
  border: 1px solid #c8c8c8;
  padding: 1em; 
}

fieldset>legend {
  font-weight: bold;
  padding-right: 0.5em; 
}

fieldset>legend a:link { text-decoration: none; }

fieldset.collapsible>legend { border: 1px solid #c8c8c8; }

fieldset.collapsed>legend { border: 1px solid #c8c8c8; }

label { font-weight: bold; }

input[disabled='disabled'] {
  background-color: #aaa;
  color: #666;
  font-style: italic;
}


/* ****************************************************************************
 * General styles
 * ************************************************************************* */
img.float-right {
  float: right;
  margin: 0.5em 0em 0.5em 1em;
}

img.float-left {
 float: left;
 margin: 0.5em 1em 0.5em 0em; 
}

/* ****************************************************************************
 * Page header
 * ************************************************************************* */
#header-bar {
    background: #3b4043;
    border-bottom: 1px solid #dadada;
    border-top: 10px solid #555555;
    color: #f4f4f4;
}

#header {
  vertical-align: middle;
}

#site-title {
  color: #f4f4f4;
  display: inline-block;
  font-size: 3em;
  line-height: 100px;
  margin: 0;
  padding: 0;
}

#site-title a, #site-title a:visited {
  color: #f4f4f4;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
}

#site-title a:hover {
  border: none;
  color: #f4f4f4;
  text-decoration: none;
}

/* ****************************************************************************
 * Site navigation
 * ************************************************************************* */
#site-nav {
  text-align: right;  
}

ul#primary-nav {
  color: #f4f4f4;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

ul#primary-nav li {
  display: inline;
  margin-left: 1em;
  line-height: 100px;
  padding-left: 1em;
  border-left: 1px solid #d9eff7;
}

ul#primary-nav li a:link, 
ul#primary-nav li a:hover, 
ul#primary-nav li a:visited {
  border: none;
  color: #d9eff7;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: uppercase;
}

ul#primary-nav li a:hover {
  color: #ff0;
  border-bottom: 1px dotted #d9eff7;
}

ul#primary-nav li.active a,
ul#primary-nav li.active a.active,
ul#primary-nav li.active-trail a,
ul#primary-nav li.active-trail a.active {
  color: #f4f4f4;
  border-bottom: 1px dotted #d9eff7;
}

ul#primary-nav li.active a:hover,
ul#primary-nav li.active a.active:hover {
  border-bottom: 1px dotted #d9eff7;
  color: #fff;
}

ul#primary-nav li.current_page_item a {
  color: #f4f4f4;
  border-bottom: 1px dotted #d9eff7;
}

ul#primary-nav li.first {
  border-left: none;
}


/* ****************************************************************************
 * Page title
 * ************************************************************************* */
#page-bar {
    background: #79a6cb;
    border-bottom: 1px solid #dadada;
}

#page-bar #page-title {
  color: #d9eff7;
  line-height: 3em;
  font-size: 2em;
  margin: 0;
  padding: 0;
}



#content-bar {
  padding-bottom: 2em;
  padding-top: 1em;
  background: #f5f7f9 url(images/content-background.gif) repeat-x; 
}


/* ****************************************************************************
 * Nodes
 * ************************************************************************* */
.node {
  margin-bottom: 2em;  
}

.node .meta .node-headline h2 {
  text-transform: uppercase;
  font-size: 1.5em;
  margin: 0;
}

.node .meta .node-terms {
  background: transparent url(images/icon-tags.png) no-repeat left 5px;
  font-weight: bold;
  padding-left: 18px;
  text-transform: uppercase;
}

.node .meta .node-terms ul li {
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-transform: lowercase;
}

.node p+p.readmore {
  margin-top: -1.5em;
}

.node+.node {
  border-top: 1px solid #dadada;
  padding-top: 0.5em;
}

/* ****************************************************************************
 * Nodes & Comments
 * ************************************************************************* */
.comment-on {
  background: transparent url(images/icon-comments.png) no-repeat left 6px;
  padding-left: 18px;
}

.meta-div {
  color: #3b4043;
  margin-bottom: 0.25em;
}

.timestamp {
  background: transparent url(images/icon-calendar.png) no-repeat left 4px;
  padding-left: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

/* ****************************************************************************
 * Comments
 * ************************************************************************* */
.comment {
  background: transparent;
  border-top: 1px solid #dadada;
  margin-bottom: 3em;
  padding-top: 0.5em;
}

.comment-author {
  font-weight: bold;
  text-transform: uppercase; 
}

.comment-links {
  background: transparent url(images/icon-link.png) no-repeat left 6px;
  padding-left: 18px;  
}

.comment-links ul li {
  margin: 0;
  padding: 0; 
}

.indented {
  margin: 0;
  padding: 0;
}

#comment-form-wrap {
  border-top: 1px solid #dadada;
}

#comment-form-title {
  color: #3b4043;
  font-size: 1.5em;
  text-transform: uppercase;
}

#comment-form-wrap div .form-item {
  margin-top: 0.5em;
}

#comment-form-wrap div .form-item label {
  text-transform: uppercase;
}

/* ****************************************************************************
 * Bottom block area
 * ************************************************************************* */
#bottom-bar {
  background: #3b4043;
  border-top: 10px solid #555555;
  color: #f4f4f4;
  padding-top: 1em;
}

#bottom-bar a:link, #bottom-bar a:visited {
  color: #79a6cb;
  text-decoration: none; 
}

#bottom-bar a:hover {
  color: #ff0;
  text-decoration: none;
  border-bottom: none;
}

#bottom-bar .block {
  color: #f4f4f4;
  margin-bottom: 2em;
}

#bottom-bar .block h2 {
  border-bottom: 1px solid #555555;
  color: #f4f4f4;
  font-size: 1.5em;
  margin: 0 0 0.5em 0;
  padding: 0;
  text-transform: uppercase;
}

#bottom-bar .block h3 {
  color: #f4f4f4;
  margin-bottom: 0;
  margin-top: 1em;
}

.block ul, .block ul.menu {
  list-style-position: inside;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.block ul li, .block ul.menu li {
  border-bottom: 1px solid #555555;
  list-style-position: inside;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 0.25em;
  padding-bottom: 0.25em;
}

.block ul.menu li ul.menu li { margin-left: 1em; }

.block ul.menu li ul.menu li.last,
.block ul.menu li ul.menu li ul.menu li.last { border: 0; }


#footer {
  border-top: 1px solid #555555;
  margin: 0 0 1em 0;
  padding: 1em 0;
  text-align: right;
}

/* ****************************************************************************
 * Pager
 * ************************************************************************* */
ul.pager {
  line-height: 250%;
  margin: 1em;
}

ul.pager li {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

ul.pager li a {
  border: 1px solid #36c;
  color: #36c;
  padding: 0.25em 0.5em;
}

ul.pager li a:hover {
  background: #3b4043;
  border: 1px solid #36c;
  color: #ff0;
  padding: 0.25em 0.5em;
  text-decoration: none;
}

ul.pager li.pager-current {
  background: #3b4043;
  border: 1px solid #36c;
  color: #fff;
  padding: 0.25em 0.5em;
}

/* ****************************************************************************
 * Messages and help
 * ************************************************************************* */
div.help, div.messages.status, div.messages.error, div.messages.warning {
  font-style: normal;
  padding: 0.8em; margin-bottom: 1.6em; border: 1px solid #ddd;
}

div.help p, div.messages.status p, div.messages.error p { margin-bottom: 0; }

div.help p+p, div.messages.status p+p, div.messages.error p+p { margin-top: 2em; }

div.help {
  background: #e5ecf9;
  color:#222;
}

div.messages.status {
  background: #cceecc;
  border-color:#c6d880;
  color:#222;
}


div.messages.error {
  background: #eeb9b9;
  border-color:#fbc2c4;
  color:#222;
}

div.messages.warning {
  background-color: #ffffdd;
  border: 1px solid #f0c020;
  color: #222;
}

/* ****************************************************************************
 * Maintenance page
 * ************************************************************************* */
body.in-maintenance #bottom-bar #footer {
  border-top: none;
}

/* ****************************************************************************
 * Admin formatting fix from the NineSixty theme
 * ************************************************************************* */
div.admin-panel { padding: 0; }

div.admin-panel .body { padding: 0 !important; }

div.admin .left, div.admin .right {
  margin-left: 0;
  margin-right: 0;
  width: 50%;
}

div.admin .right .admin-panel { margin-left: 10px; }
